.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
}

.footerLeft h2 {
  margin-bottom: 30px;
}

.footerImages img {
  margin-left: 10px;
}
